
body {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 14px;
    line-height: 1.828571429;
    color: #ccc;
    background-color: #111;
}

#text-content {
    margin: 20px auto;
}

#sentimentOutput {
    display: block;
    clear: both;
    font-size: 26px;
    color: #fff;
}

.row {
    position: relative;
}

#sentiment {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    margin: -35px 0 0 -60px;
    text-align: center;
}

svg {
    
}

svg path {
    /* fill: #fff; */
}

.smallArc {
    height: 280px;
    margin: 90px auto;
}

hr {
    border-top: 1px solid #666;
}